.main{
	height: 300px;
	width: 100%;
	
	background-color: #CDCCC7;
}
.list{
	display: flex;
	justify-content: right;
	text-align: right;
	
}
.list>li{
	flex-basis: 5%;
	list-style-type: none;
	
}
a{
	text-decoration: none;
	color: black;
}
.second{
	height: 600px;
	width: 100%;
	
	background-color: #6ED7D1	;
}
.third{
	height: 600px;
	width: 70%;
	
	background-color: tomato;
	float: right;
}